<div id="EnderecoFaturaEntregaPedido">
	<div style="clear: left;">
		<span><b>Nome:</b></span>
		<span>%%GLOBAL_ShipNome%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Sobrenome:</b></span>
		<span>%%GLOBAL_ShipSobrenome%%</span>
	</div>
	<!--
	<div style="clear: left;">
		<span><b>Empresa:</b></span>
		<span>%%GLOBAL_ShipCompany%%</span>
	</div>
	-->
	<div style="clear: left;">
		<span><b>CPF:</b></span>
		<span>%%GLOBAL_ShipCpf%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Data de Nascimento:</b></span>
		<span>%%GLOBAL_ShipDataNascimento%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Telefone:</b></span>
		<span>%%GLOBAL_ShipPhone%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Cep:</b></span>
		<span>%%GLOBAL_ShipZip%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Endereço:</b></span>
		<span>%%GLOBAL_ShipAddressLines%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Número:</b></span>
		<span>%%GLOBAL_ShipNumero%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Complemento:</b></span>
		<span>%%GLOBAL_ShipComplemento%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Bairro:</b></span>
		<span>%%GLOBAL_ShipBairro%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Cidade:</b></span>
		<span>%%GLOBAL_ShipSuburb%%</span>
	</div>
	<div style="clear: left;">
		<span><b>Estado:</b></span>
		<span>%%GLOBAL_ShipState%%</span>
	</div>
	<!--
	<div style="clear: left;">
		<span><b>País:</b></span>
		<span>%%GLOBAL_ShipCountry%%</span>
	</div>
	-->
</div>
