<link rel="stylesheet" type="text/css" href="%%GLOBAL_TPL_PATH%%/Styles/fale_conosco.css"/>

<div style="margin: 20px;">
	<div class="tituloDiv TituloBordaSombra">%%GLOBAL_TituloPagina%%</div>
	
	<div id="fale_conosco_div">
		<div>
			<!-- SOLICITAR ORÇAMENTO DE PRODUTO -->
			<div class="faleConoscoSolicitarOrcamento %%GLOBAL_HideSolicitarOrcamento%%">
				<div class="clearLeft tituloDivOrcamento">Solicite um orçamento para o produto abaixo:</div>
				<div class="clearLeft floatLeft" style="width: 100%; margin: 10px 0;">
					<div class="orcamentoImagemProduto"><img src="%%GLOBAL_FaleConoscoImagemProduto%%"></div>
					<div class="floatLeft" style="width: 450px;">
						<div class="orcamentoNomeProduto">%%GLOBAL_FaleConoscoNomeProduto%%</div>
						<div class="orcamentoDescricaoAtributosProduto">%%GLOBAL_FaleConoscoDescricaoAtributosProduto%%</div>
					</div>
				</div>
				<hr class="separadorHorizontal" />
			</div>
			
			<div class="wrapperCamposFaleConosco">
				<div class="divLeft">
					<!-- CAMPOS -->
					<div id="emailForm">
						<div class="divCampo">
							<div class="label">Nome <span class="label_obrigatorio">*</span></div>
							<div class="campo">
								<input class="inputbox" type="text" id="nome" name="nome" value=""/>
								<div class="left seta_obrigatorio"></div>
							</div>	
						</div>
						<div class="divCampo">
							<div class="label">Empresa</div>
							<div class="campo">
								<input class="inputbox" type="text" id="empresa" name="empresa" value=""/>
								<div class="left seta_obrigatorio"></div>
							</div>	
						</div>
						<div class="divCampo">
							<div class="label">Assunto</div>
							<div class="campo">
								<input class="inputbox" type="text" id="assunto" name="assunto" value="%%GLOBAL_FaleConoscoSolicitoOrcamentoaAssunto%%"/>
								<div class="left seta_obrigatorio"></div>
							</div>	
						</div>
						<div class="divCampo">
							<div class="label">Email <span class="label_obrigatorio">*</span></div>
							<div class="campo">
								<input class="inputbox" type="text" id="email" name="email" value=""/>
								<div class="left seta_obrigatorio"></div>
							</div>	
						</div>
						<div class="divCampo">
							<div class="label">Telefone</div>
							<div class="campo">
								<input class="inputbox" type="text" id="telefone" name="telefone" value=""/>
								<div class="left seta_obrigatorio"></div>
							</div>	
						</div>
						<div class="divCampo">
							<div class="label">Mensagem <span class="label_obrigatorio">*</span></div>
							<div class="left area-bg">
								<textarea class="textarea" id="mensagem" name="mensagem">%%GLOBAL_FaleConoscoSolicitoOrcamentoMensagem%%</textarea>
								<div class="left seta_obrigatorio"></div>
							</div>
						</div>
						<div class="clearLeft">
							<div class="" style="float: left; width: 215px; position: relative;">
								<div id="mensagemErro"></div>
								<div id="carregandoAjaxDiv">
									<img src="%%GLOBAL_IMG_PATH%%/../img/fale_conosco/ajax-loader.gif">
								</div>
							</div>
							<div class="" style="float: right; width: 100px; margin: 5px 20px 0 0;">
								<input id="btnEnviar" type="submit" class="button" onclick="enviaForm();" value="Enviar" style="float: right; margin-right: 20px;"/>
							</div>
						</div>
					</div>
					<div id="retornoEnvioDiv" style="display: none;"></div>
				</div>
			
				<div class="divRight">
					<div class="subTituloFundoCinza">Entre em contato com a %%GLOBAL_StoreName%%</div>
					<div class="clearLeft">
						<div id="contato_emailDiv" class="contato_div_img"></div>
						<div class="left top1"><strong>E-mail:</strong> <a href="mailto:%%GLOBAL_EmailRemetenteSite%%?subject=Formulario - Contato Site" style="font-size: 12px !important;">%%GLOBAL_EmailRemetenteSite%%</a></div>
					</div>
					<div class="clearLeft">
						<div id="contato_telefoneDiv" class="contato_div_img"></div>
						<div class="left top1"><strong>Tel:</strong></div>
						<div style="float: left; padding: 10px 0 0 2px;">(11) 2218-0804<br /> (11) 2218-0499<br /> (11) 2901-2630</div>
					</div>
					<!--
					<div class="clearLeft">
						<div id="contato_celularDiv" class="contato_div_img"></div>
						<div class="left top1">
							<strong>Cel:</strong> (11) 2901-2630
						</div>
					</div>
					-->
					<div class="googleMapsDiv">
						<iframe width="325" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=premiatta+moveis+e+cofres+Rua+Chico+Pontes&amp;aq=&amp;sll=-23.734464,-46.47552&amp;sspn=0.799531,1.454315&amp;ie=UTF8&amp;hq=premiatta+moveis+e+cofres+Rua+Chico+Pontes&amp;hnear=&amp;t=m&amp;cid=18049006874058847816&amp;ll=-23.507586,-46.60321&amp;spn=0.005608,0.00706&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=premiatta+moveis+e+cofres+Rua+Chico+Pontes&amp;aq=&amp;sll=-23.734464,-46.47552&amp;sspn=0.799531,1.454315&amp;ie=UTF8&amp;hq=premiatta+moveis+e+cofres+Rua+Chico+Pontes&amp;hnear=&amp;t=m&amp;cid=18049006874058847816&amp;ll=-23.507586,-46.60321&amp;spn=0.005608,0.00706&amp;z=16" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

<script>
	
	$('#nome').focus();
	$('#telefone').mask("(99) 9999-9999");
	
	function enviaForm(){
		var nome,
			empresa,
			email,
			telefone,
			assunto,
			mensagem,
			divForm,
			divRetorno,
			validado,
			mensagemErro;
			
		validado     = validaForm();
		
		if(validado){
			divForm	   = $('#emailForm');
			divRetorno = $('#retornoEnvioDiv');
			
			nome 	   = $('#nome').val();
			empresa	   = $('#empresa').val();
			assunto    = $('#assunto').val();
			email 	   = $('#email').val();
			telefone   = $('#telefone').val();
			mensagem   = $('#mensagem').val();
			
			$('#btnEnviar').attr('disabled','disabled');
			$('#carregandoAjaxDiv').fadeIn('slow');
			
			$.post("%%GLOBAL_ShopPathNormal%%/faleconosco/envioEmail.php", 
				{
				nome: nome, 
				empresa: empresa,
				assunto: assunto,
				email: email, 
				telefone: telefone, 
				mensagem: mensagem,
				emailDestino: '%%GLOBAL_EmailRemetenteSite%%',
				solicitarOrcamento: '%%GLOBAL_SolicitarOrcamento%%',
				nomeProduto: '%%GLOBAL_FaleConoscoNomeProduto%%',
				imagemProduto: '%%GLOBAL_FaleConoscoImagemProduto%%',
				descricaoAtributos: '%%GLOBAL_FaleConoscoDescricaoAtributosProduto%%',
				nomeLoja: '%%GLOBAL_StoreName%%',
				urlWebsite: '%%GLOBAL_ShopPathNormal%%',
				urlImageWebsite: '%%GLOBAL_IMG_PATH%%'
				}, function(data){
					complete:
						$(divForm).hide();
						$(divRetorno).html(data);
						$(divRetorno).fadeIn(1500);
						$('#carregandoAjaxDiv').hide();
						$('html,body').animate({scrollTop: $("#fale_conosco_div").offset().top}, 1500);
				});
		}
		
		mensagemErro = (!validado) ? "Informe os campos corretamente!" : "";
		$('#mensagemErro').html(mensagemErro);
	}
	
	function validaForm(){
		var campo,
			validado,
			arrayCampos;
			
		validado 	= true;
		arrayCampos = new Array("nome", "email","mensagem");
		
		var tamanhoArray = arrayCampos.length;
		for(var i=tamanhoArray-1; i>=0; i--){
			campo = arrayCampos[i];
			
			/* Limpando os Campos */
			$('#' + campo).removeClass('campo_obrigatorio');
			$('#' + campo).next().css('visibility','hidden');
			
			/* Verificando Campos */
			if($.trim($('#' + campo).val()) == ''){
				validado = false;
				$('#' + campo).addClass('campo_obrigatorio');
				$('#' + campo).next().css('visibility','visible');
			}
		}
		
		/* Valida Campo Email */
		if(validado && !validaEmail($('#email').val())){
			alert('Digite um e-mail válido!');
			$('#email').addClass('campo_obrigatorio');
			$('#email').next().css('visibility','visible');
			$('#email').focus();
			return false;
		}
		
		return validado;
	}
	
	function voltarMensagem(resetForm){
		if(resetForm){
			$('#nome').val('');
			$('#empresa').val('');
			$('#assunto').val('');
			$('#email').val('');
			$('#telefone').val('');
			$('#mensagem').val('');
		}
		
		$('#retornoEnvioDiv').hide();
		$('#btnEnviar').removeAttr('disabled');
		$('#emailForm').fadeIn(1500);
	}
	
	function validaEmail(email){
	    var er = new RegExp(/^[A-Za-z0-9_\-\.]+@[A-Za-z0-9_\-\.]{2,}\.[A-Za-z0-9]{2,}(\.[A-Za-z0-9])?/); 
	    if(typeof(email) == "string"){ 
	    	if(er.test(email)){ return true; } 
	    }else if(typeof(email) == "object"){ 
	    	if(er.test(email.value)){  
	        	return true;  
	    	} 
	    }else{ 
	    	return false; 
	    } 
	}
	
</script>
