<!-- Google Code for Finaliza&ccedil;&atilde;o de Compra Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 996432793;
var google_conversion_language = "pt";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "Rl4tCPe6rwMQmbeR2wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" 
src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" 
src="http://www.googleadservices.com/pagead/conversion/996432793/?value=0&amp;label=Rl4tCPe6rwMQmbeR2wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>