	<div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
	%%GLOBAL_MaintenanceNotice%%
	
	%%Panel.TopMenu%%
	
	<div id="menuHorizontal" class="ddsmoothmenu Departamentos">
		%%Panel.MenuHeaderDepartamentos%%
	</div>
	
	<div id="Outer">
		<div id="Header" class='%%GLOBAL_HeaderBannerHomeClass%%'>
			<!--
			<div id="Logo">
				%%GLOBAL_HeaderLogo%%
			</div>
			-->
			
			%%GLOBAL_InsertBannerHome%%
			
			<div class="BuscaTop">
				%%Panel.HeaderSearch%%
			</div>
			
			<br class="Clear" />
		</div>
		
	<!--%%Panel.PagesMenu%%-->

<script>
	$(document).ready(function(){
		$('#Outer').css('margin-top',$('#menuHorizontal').height()+"px");

		/*
		========== INICIO - Menu Vertical / Horizontal ==========
		*/
		ddsmoothmenu.init({
			mainmenuid: "menuHorizontal", //menu DIV id
			orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
			classname: 'ddsmoothmenu', //class added to menu's outer DIV
			//customtheme: ["#1c5a80", "#18374a"],
			contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
		})
		/*
		ddsmoothmenu.init({
			mainmenuid: "menuVertical", //Menu DIV id
			orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
			classname: 'BlockContent ddsmoothmenu-v', //class added to menu's outer DIV
			//customtheme: ["#804000", "#482400"],
			contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
		})
		*/
		/*
		========== FIM - Menu Vertical / Horizontal ==========
		*/
		
		/* Centraliza Menu Horizontal */
		var qtdeMenuWidthLI    = 0;
		var complementoBrowser = 0;
		$('#menuHorizontal ul').eq(0).children('li').each(function(){
			qtdeMenuWidthLI = eval(qtdeMenuWidthLI + $(this).width());
		});
		qtdeMenuWidthLI = qtdeMenuWidthLI + ($('.ddsmoothmenu ul').eq(0).children('li').size() * 9); // Somando a Largura dos Separadores das Categorias
		if(!(qtdeMenuWidthLI > 1000)){
			/* DESCOMENTAR QUANDO LOJA NO AR
			if($.browser.msie)	 { complementoBrowser = -30; } //Se for IE
			if($.browser.mozilla){ complementoBrowser = -50; } //Se for Mozzila
			if($.browser.webkit) { complementoBrowser = 10;  } //Se for Webkit
			*/
			$('#menuHorizontal ul').eq(0).css('margin','auto').css('width',qtdeMenuWidthLI+complementoBrowser);
		}
		
		/* Mostra Banner Rotativo Após Renderização */
		$('.bannerHomeSliderWrapper').css('visibility','visible');
	});
	
</script>
	