<div class="Block SideRelatedProducts Moveable Panel" style="display:%%GLOBAL_HideRelatedProductsPanel%%" id="SideProductRelated">
	<h2>%%LNG_RelatedProducts%%</h2>
	<div class="BlockContent">
	
		<!-- CAROUSEL -->
		<div class="sliderCarousel sliderCarouselProdutosRelacionados">
			<a class="buttons prev" href="#">left</a>
			<div class="viewport">
				<ul class="ProductList overview">
					%%SNIPPET_SideProductsRelatedSliderEdaz%%
				</ul>
			</div>
			<a class="buttons next" href="#">right</a>
		</div>
		
		<hr class="Clear marginBottom20">
		
	</div>
</div>