#fale_conosco_div { padding: 10px; font-size: 14px; }
#fale_conosco_div .divLeft { float: left; width: 335px; border-right: 1px solid #E6E6E6; }
#fale_conosco_div .divRight { float: right; width: 335px; padding-left: 6px; }
.tituloDiv { color: #808080; font-size: 23px; font-weight: bold; margin: 10px 0; width: auto; }
.faleConoscoSolicitarOrcamento { float: left; margin-bottom: 10px; width: 100%; }
.faleConoscoSolicitarOrcamento .tituloDivOrcamento { color: #808080; font-size: 16px; font-weight: normal; margin: 10px 0; width: 410px; background-color: #F9F9F9; }
.faleConoscoSolicitarOrcamento .orcamentoImagemProduto{ width: 150px; float: left; }
.faleConoscoSolicitarOrcamento .orcamentoNomeProduto{ color: #606060; float: left; font-size: 17px; margin-left: 10px; }
.wrapperCamposFaleConosco { background-color: #FAFAFA; color: #707070; float: left; padding: 6px; border: 1px solid #EAEAEA; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.wrapperCamposFaleConosco a { color: #000000; }
.tituloEntreEmContato { background-color: #F9F9F9; font-weight: bold; margin-bottom: 10px; }
.googleMapsDiv { border: 1px solid #DCDCDC; float: left; margin: 15px 0 0 8px; padding: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.texto_contato{
	float: left; 
	overflow: hidden; 
	font-size: 14px; 
	text-align: left; 
	width: 500px; 
	margin-left: 25px;
}

.left{
	float: left;
}

.inputbox{
	width: 240px;
	float: left;
}

.divCampo{
	clear: left;
    float: left;
    margin: 4px 0;
}

.label{
	float: left;
    font-weight: bold;
    margin-right: 5px;
    min-width: 70px;
}

.campo{
	float: left;
}

.top1{
	float: left;
	font-size: 13px;
	padding-top: 10px;
}

#emailForm .inputbox {
	border: 1px solid #CCCCCC;
    color: #606060;
    float: left;
    font-size: 1em;
    height: 20px;
    margin-right: 4px;
    padding: 4px;
    width: 216px;
	font-family: Arial;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.area-bg textarea {
	border: 1px solid #CCCCCC;
    color: #606060;
    float: left;
    font-size: 1em;
    height:100px;
    padding: 4px;
    width: 290px;
	font-family: Arial;
	margin-right: 5px;
	line-height: 20px;
   -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.#emailForm .inputbox, 
.area-bg {
    behavior: url(htc/PIE.htc);
}

.button {
	border:none;
	background:url('../img/fale_conosco/button.png') no-repeat 0 0;
	height:29px;
	width:80px;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	position:relative;
	z-index:990;
	text-shadow:1px 1px 1px #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10.5px;
	text-transform:uppercase;
}

.button:hover {
	background:url('../img/fale_conosco/button_hover.png') no-repeat 0 0 !important;
}

.underline:hover{
	cursor: pointer;
	text-decoration: underline;
}

#mensagemErro {
	color: #CE0405;
    font-size: 13px;
    line-height: 15px;
    margin: 10px 5px 0 0;
}

.contato_div_img{
	width: 50px;
	height: 40px;
	clear: left;
	float: left;
	margin: 5px 5px 0 0;
}

#contato_emailDiv{
	float: left;
	background:url('../img/fale_conosco/contato_email.png') no-repeat top center;
}

#contato_telefoneDiv{
	background:url('../img/fale_conosco/contato_telefone.png') no-repeat top center;
}

#contato_celularDiv{
	background:url('../img/fale_conosco/contato_celular.png') no-repeat top center;
}

#retornoEnvioDiv{
	width: 310px;
	display: block;
	margin-top: 10px; 
	text-align: center; 
}

#emailForm label {
	padding: 0 0 4px 0;
}

#emailForm input:focus{
	background-color: #ebf5ff;
}

#emailForm textarea:focus{
	background-color: #ebf5ff;
}

.label_obrigatorio{
	top: -5px;
    font-size: 10px;
	position: relative;
}

.clearLeft{
	clear: left;
}

.separadorHorizontal{
    clear: left;
    margin: 10px auto;
    text-align: center;
    width: 590px;
	background-color: #EFEFEF;
}

.seta_obrigatorio{
	float: left;
	width: 25px;
	height: 20px;
	margin-top: 2px;
	visibility: hidden;
	background: url('../img/fale_conosco/arrow_mandatory.png') no-repeat;
}

.campo_obrigatorio{
	background-color: #fff7f6 !important;
	border: 1px solid #fc978c !important;
	/*border: none\9 !important;*/
}

.mensagem_envio_email{
	padding: 5px 0 0;
	border: 1px solid #D9D9D9;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-shadow: 2px 3px 6px 0 #C0C0C0; -webkit-box-shadow: 2px 3px 6px 0 #C0C0C0; box-shadow: 2px 3px 6px 0 #C0C0C0;
}

#carregandoAjaxDiv{
    right: 3px;
    top: 10px;
	display: none;
	position: absolute;
}

.TituloBordaSombra{
	color: #606060;
	padding: 20px 15px ;
	border: 1px solid #e1e1e1;
	background-color: #FAFAFA;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	-moz-box-shadow: 1px 6px 7px -5px #707070; -webkit-box-shadow: 1px 6px 7px -5px #707070; box-shadow: 1px 6px 7px -5px #707070;
}
