<div id="EnderecoFaturaEntregaPedido">
	<div>
		<span class="label">Nome:</span>
		<span class="value">%%GLOBAL_ShipNome%%</span>
	</div>
	<div>
		<span class="label">Sobrenome:</span>
		<span class="value">%%GLOBAL_ShipSobrenome%%</span>
	</div>
	<!--
	<div>
		<span class="label">Empresa:</span>
		<span class="value">%%GLOBAL_ShipCompany%%</span>
	</div>
	-->
	<div>
		<span class="label">CPF:</span>
		<span class="value">%%GLOBAL_ShipCpf%%</span>
	</div>
	<div>
		<span class="label">Data de Nascimento:</span>
		<span class="value">%%GLOBAL_ShipDataNascimento%%</span>
	</div>
	<div>
		<span class="label">Telefone:</span>
		<span class="value">%%GLOBAL_ShipPhone%%</span>
	</div>
	<div>
		<span class="label">Cep:</span>
		<span class="value">%%GLOBAL_ShipZip%%</span>
	</div>
	<div>
		<span class="label">Endereço:</span>
		<span class="value">%%GLOBAL_ShipAddressLines%%</span>
	</div>
	<div>
		<span class="label">Número:</span>
		<span class="value">%%GLOBAL_ShipNumero%%</span>
	</div>
	<div>
		<span class="label">Complemento:</span>
		<span class="value">%%GLOBAL_ShipComplemento%%</span>
	</div>
	<div>
		<span class="label">Bairro:</span>
		<span class="value">%%GLOBAL_ShipBairro%%</span>
	</div>
	<div>
		<span class="label">Cidade:</span>
		<span class="value">%%GLOBAL_ShipSuburb%%</span>
	</div>
	<div>
		<span class="label">Estado:</span>
		<span class="value">%%GLOBAL_ShipState%%</span>
	</div>
	<!--
	<div>
		<span class="label">País:</span>
		<span class="value">%%GLOBAL_ShipCountry%%</span>
	</div>
	-->
</div>
