<li>
	<div class="top_imagem_produto_div"></div>
	<div class="middle_imagem_produto_div">
		<div class="ProductImage">
			%%GLOBAL_ProductThumb%%
		</div>
		<div class="ProductDetails">
			<strong><a href="%%GLOBAL_ProductLink%%" class="%%GLOBAL_SearchTrackClass%%">%%GLOBAL_ProductName%%</a></strong>
		</div>
		<div class="ProductPriceRating">
			<em>%%GLOBAL_ProductPrice%%</em>
			<span class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></span>
		</div>
		<div class="ProductCompareButton" style="display:%%GLOBAL_HideCompareItems%%">
			<input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> <label for="compare_%%GLOBAL_ProductId%%">%%LNG_Compare%%</label> <br />
		</div>
		
		<div class="parcelamentoProdutoDiv">
			%%GLOBAL_ProDestaques%%
			%%GLOBAL_FreteDestaques%%
		</div>
		
		<div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">
			<a href="%%GLOBAL_ProductURL%%">%%GLOBAL_ProductAddText%%</a>
		</div>
		
		<div class="avisemeQuandoChegar %%GLOBAL_HideProdutoIndisponivel%%">
			<a href="javascript: avisemeQuandoChegar(%%GLOBAL_ProductId%%);">Avise-me<br>quando chegar</a>
		</div>
		
		<div class="fundoDegradeProduct"></div>
	</div>
	<div class="bottom_imagem_produto_div"></div>
</li>