<div class="modalData">
<div id="ModalTopLeftCorner"></div>
<div id="ModalTopBorder"></div>
<div id="ModalTopRightCorner"></div>
<div id="ModalLeftBorder"></div>
<div id="ModalRightBorder"></div>
<div id="ModalBottomLeftCorner"></div>
<div id="ModalBottomRightCorner"></div>
<div id="ModalBottomBorder"></div>
<div id="ModalContentContainer">
<div class="ModalTitle">Formas de pagamento aceitas:</div>
<div class="ModalContent ModalContentWithButtons">

<script type="text/javascript" src="%%GLOBAL_ShopPath%%/modificacoes/switchcontent.js" ></script>
<script type="text/javascript" src="%%GLOBAL_ShopPath%%/modificacoes/switchicon.js"></script>

<style type="text/css">

/*Default style for SPAN icons. Edit if desired: */

.iconspan{
float: right;
margin: 3px;
cursor:hand;
cursor:pointer;
font-weight: bold;
}

/*CSS used to style the examples. Remove if desired: */

.eg-bar{
background-color: #053d66;
font-weight: bold;
border: 1px solid black;
padding: 3px;
color:#fff;
margin-bottom:1px
}

div.eg-bar{
width: 97%;
}

.icongroup1{
width: 97%;
}

</style>
<table width="100%" border="0" align="center">
<tr align="right">
  <td><img src="%%GLOBAL_TPL_PATH%%/img/SelecioneOutrasFOrmas.gif" /></td>
</tr>
<tr align="center"><td>
%%GLOBAL_HTMLPOPUP%%
</td></tr></table>

<script type="text/javascript">
var faq=new switchicon("icongroup1", "div") //Limit scanning of switch contents to just "div" elements
faq.setHeader('<img src="%%GLOBAL_ShopPath%%/modificacoes/minus.gif" />', '<img src="%%GLOBAL_ShopPath%%/modificacoes/plus.gif" />') //set icon HTML
faq.collapsePrevious(true) //Allow only 1 content open at any time
faq.setPersist(false) //No persistence enabled
faq.defaultExpanded(0) //Set 1st content to be expanded by default
faq.init()
</script>

</div>
</div>
</div>
<div class="ModalButtonRow">
<input class="botao" value="Fechar" onclick="$.iModal.close();" type="button">
</div>


