/* ===== PRODUCT REVIEWS ===== */
.itemRatingForm {display:block;vertical-align:middle;line-height:35px;float:left;}
.itemRatingLog {font-size:11px;margin:0;padding:0 0 0 4px;float:left;}
div.itemRatingForm .formLogLoading {background:url(../images/loading.gif) no-repeat left center;height:35px;padding:0 0 0 20px;}
.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {background:url(../images/transparent_star.png) left -1000px repeat-x;}
.itemRatingList {background-position: left top; clear: left; float: left; height: 35px; list-style: none outside none; padding: 0; position: relative; width: 176px;}
.itemRatingList li {display:inline;background:none;padding:0;}
.itemRatingList a,
.itemRatingList .itemCurrentRating {position:absolute;top:0;left:0;text-indent:-1000px;height:35px;line-height:35px;outline:none;overflow:hidden;border:none;cursor:pointer;}
.itemRatingList a:hover {background-position:left bottom;}
.itemRatingList a.one-star {width:20%;z-index:6;}
.itemRatingList a.two-stars {width:40%;z-index:5;}
.itemRatingList a.three-stars {width:60%;z-index:4;}
.itemRatingList a.four-stars {width:80%;z-index:3;}
.itemRatingList a.five-stars {width:100%;z-index:2;}
.itemRatingList .itemCurrentRating {z-index:1;background-position:0 center;margin:0;padding:0;}
.VerticalFormContainer dt{ clear: left !important; }
.itemRatingForm .itemRatingList { margin: 0px !important; }
.selecionaOpiniaoProduto{ background:url(../images/transparent_star.png) left -1000px repeat-x; background-position:left bottom; }
.Content .ProductList li { overflow: visible !important; }

/********** CHECKOU CIELO **********/
.finalizacaoPedidoBlock blockquote{
	margin: 0 !important;
	margin-bottom: 20px;
}

.checkout_cielo_parcelas_div{

}

.bandeirasLinks{
	text-align: center;
}

.bandeirasLinks a{
	padding: 2px;
}

.bandeirasLinks a:hover{
	cursor: pointer;
}

#LoginButton{
	cursor: pointer;
}

#LoginButton2{
	cursor: pointer;
}

.checkou_cielo_payment_div{
	width: 405px;
	float: left;
}

#checkou_cielo_iframe{
	display: none;
	width: 420px;
}

#checkou_cielo_iframe_ajax{
	display: none;
}

.checkout_cielo_parcelas_div div #forma:hover{
	cursor: pointer;
}

#CheckoutStepBillingAddress input:hover{
	/*cursor: pointer;*/
}

#CheckoutStepBillingAddress label:hover{
	cursor: pointer;
}

#CheckoutStepShippingAddress input:hover{
	/*cursor: pointer;*/
}

#CheckoutStepShippingAddress label:hover{
	cursor: pointer;
}

#CheckoutStepShippingProvider input:hover{
	/*cursor: pointer;*/
}

#CheckoutStepShippingProvider label:hover{
	cursor: pointer;
}

#CheckoutStepConfirmation input:hover{
	/*cursor: pointer;*/
}

#CheckoutStepConfirmation label:hover{
	cursor: pointer;
}

.tituloGrupoMetodosPagamento{
	background-color: #F5F5F5;
    clear: left;
    color: gray;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 8px;
    padding: 10px;
    width: 550px;
}

.CheckoutRedeemCoupon { 
	background: none repeat scroll 0 0 #DFEDF4;
    border: 1px solid #C0DDEB;
    float: left;
    padding: 10px;
    position: relative;
    width: 300px;
}

#use_store_credit li.opcoesGrupoMetodosPagamento,
#provider_list ul li.opcoesGrupoMetodosPagamento{
	padding: 10px;
    text-align: center;
	max-width: 100px;
    min-height: 90px;
    min-width: 100px;
    padding: 10px;
    text-align: center;
}

#use_store_credit li.opcoesGrupoMetodosPagamento:hover{
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1);
	background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1) repeat-X;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1)) repeat-X;
}

#provider_list ul li.opcoesGrupoMetodosPagamento:hover{
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1);
	background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1) repeat-X;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1)) repeat-X;
}

#use_store_credit li.opcoesGrupoMetodosPagamento label,
#provider_list ul li.opcoesGrupoMetodosPagamento label{
	display: block;
}

.itemMetodoPagamentoSelecionado{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1);
	background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1) repeat-X;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1)) repeat-X;
}

.nomeMetodoPagamentoSelecionado{
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.imagemMetodoPagamento{
	clear: left;
	margin: 0 auto 7px;
}

.checkout_metodo_boletobradesco{
	width: 35px;
	height: 35px;
	background: url(../images/bandeiras/boletobradesco.png) no-repeat;
}

.checkout_metodo_boletobancodobrasil{
	width: 35px;
	height: 35px;
	background: url(../images/bandeiras/boletobancodobrasil.png) no-repeat;
}

.checkout_metodo_boletoitau{
	width: 35px;
	height: 35px;
	background: url(../images/bandeiras/boletoitau.png) no-repeat;
}

.checkout_metodo_boletoreal{
	width: 35px;
	height: 35px;
	background: url(../images/bandeiras/) no-repeat;
}

.checkout_metodo_cheque{
	width: 90px;
	height: 44px;
	background: url(../images/bandeiras/cheque.png) no-repeat;
}

.checkout_metodo_cielo{
	width: 40px;
	height: 40px;
	background: url(../images/bandeiras/cielo.png) no-repeat;
}

.checkout_metodo_deposito{
	width: 70px;
	height: 25px;
	background: url(../images/bandeiras/deposito.png) no-repeat;
}

.checkout_metodo_dinheiromail{
	width: 90px;
	height: 25px;
	background: url(../images/bandeiras/dinheiro_mail.png) no-repeat;
}

.checkout_metodo_f2b{
	width: 40px;
	height: 25px;
	background: url(../images/bandeiras/f2b.png) no-repeat;
}

.checkout_metodo_mercadopago{
	width: 70px;
	height: 25px;
	background: url(../images/bandeiras/mercado_pago.png) no-repeat;
}

.checkout_metodo_moip{
	width: 70px;
	height: 25px;
	background: url(../images/bandeiras/moip.png) no-repeat;
}

.checkout_metodo_pagamentodigital{
	width: 90px;
	height: 25px;
	background: url(../images/bandeiras/pagamento_digital.png) no-repeat;
}

.checkout_metodo_pagseguro{
	width: 90px;
	height: 25px;
	background: url(../images/bandeiras/pagseguro.png) no-repeat;
}

.checkout_metodo_paypal{
	width: 60px;
	height: 20px;
	margin-top: 5px;
	background: url(../images/bandeiras/paypal.png) no-repeat;
}

li.itemVariationProduct {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid gray;
    color: #000000;
    float: left;
    font-weight: bold;
    margin: 10px 5px;
    min-width: 15px;
    padding: 7px;
    text-align: center;
}

li.itemVariationProduct:hover {
	cursor: pointer;
	background-color: #e1e1e1;
}

li.itemVariationAttribute{
	float: left;
    border: 1px solid gray;
    padding: 7px;
	margin: 5px;
}

li.itemVariationAttribute:hover{
	cursor: pointer;
	background-color: #e1e1e1;
}

div.itemVariationImageProductDiv{
	color: #000000;
	font-weight: bold;
	text-align: center;
}

div.itemVariationImageProductDiv span{
	display: block;
    margin-top: 5px;
}

.itemVariationProductSelected{
	border: 1px solid #000000 !important;
	border-right: 2px solid #000000 !important;
	border-bottom: 2px solid #000000 !important;
	background-color: #e1e1e1 !important;
}

.itemVariationProductDisabled{
	cursor: default !important;
	color: silver !important;
	border: 1px solid #F5F5F5 !important;
	background: url("../img/ico_x.png") no-repeat bottom right #F9F9F9 !important;
}

.labelAtributosProdutoDiv{
	width: 100%;
	padding: 10px 0 2px;
	background-color: #F8F8F8;
	color: #000000
	font-weight: bold;
}

#atributosProdutoDiv{
	padding: 5px 0;
}

#qtdeEstoqueAtributosDiv{
	float: right;
	color: #666666;
	padding: 5px;
	font-weight: bold;
}

li.separador_links_footer{
	background-color: gray;
    height: 15px;
    margin-top: 5px !important;
    width: 1px !important;
}

.desenvolvido_por_edazcommerce{
	color: #000000;
    font-family: Verdana;
    font-size: 11px;
    font-style: italic;
    position: relative;
    top: -6px;
}

/******* Quick Search *******/
.QuickSearch { margin: 0; padding: 0; text-align: left; border-collapse: collapse; background: #fff; border: 1px solid #BFBFBF; z-index: 9999;  }
.QuickSearchTitle td, .QuickSearchAllResults td { font-weight: bold; padding: 4px; font-size: 11px; }
.QuickSearchResult td { font-size: 11px; padding:8px; cursor: pointer; }
.QuickSearchResultImage { margin-left: 4px; margin-right: 10px; text-align: center; }
.QuickSearchResultNoImage { padding-top: 10px; color: #777; }
.QuickSearchResultName { margin: 0; padding: 0; padding-bottom: 3px; }
.QuickSearchResultName a { font-weight: bold; text-decoration: none; }
.QuickSearchResult .Price { font-size: 11px; }
.QuickSearchHover td{ background: #FCC8EA; }
.QuickSearchHover a { text-decoration: underline; font-weight:bold; }
.QuickSearchAllResults td { text-align: right; height: 25px; }
.QuickSearchAllResults a { text-decoration: underline; }
.QuickSearchAllResults a:active, .QuickSearchAllResults a { outline: none; -moz-outline-style: none; }
.QuickSearchTR1 { background-color: #f5f5f5; }
.QuickSearchTR2 { background-color: #fffff; }

#QuickSearch .QuickSearchResultImage img { width: 40px; }
#QuickSearch tr { height: 50px; } 
#QuickSearch tr td { padding: 0px 5px; }
#QuickSearch .QuickSearchResultName a { color: #000000; font-weight: bold; }
#QuickSearch .Price span { margin-left: 5px; }
#QuickSearch .Price { display: inline; position: relative; }
#QuickSearch .Price .price_old { color: #B2B2B2; font-family: Tahoma; font-size: 14px; font-weight: bold; width: 100%;}
#QuickSearch .Price .price_old label { color: #B2B2B2; font-size: 11px; position: relative; }
#QuickSearch .Price .price_current { color: #993366; font-family: Tahoma; font-size: 14px; font-weight: bold; width: 100%;}
#QuickSearch .Price .price_current label { color: #993366; font-size: 11px; position: relative; }
#QuickSearch .Price .YouSave { color: #D04AA3; font-size: 10px; font-style: normal; font-weight: bold; }

/******* LISTAGEM DE PRODUTOS - VITRINE *******/
.ProductDetails { margin-bottom: 10px; }
.ProductList { margin:0; padding:22px;}
.ProductList .ProductDetails a { color: #555555; font-family: Tahoma; font-size: 14px; font-weight: bold; text-decoration: none;}
.ProductList li { list-style:none; float:left;  color:#484747; width:33%; text-align:center; height:auto; min-height: 250px; padding: 5px 0;}
.ProductList li .price_old { color: #B2B2B2; float: left; font-family: Tahoma; font-size: 14px; font-weight: bold; width: 100%;}
.ProductList li .price_old label { color: #B2B2B2; font-size: 11px; position: relative; }
.ProductList li .price_current { color: #993366; float: left; font-family: Tahoma; font-size: 18px; font-weight: bold; width: 100%;}
.ProductList li .price_current label { color: #993366; font-size: 11px; position: relative; }
.ProductList li.categoriaList .price_current label { top: 0px; }
.ProductList li em  { font-style:normal; font-weight:bold; font-size:11px; color:#C00; float:left; width:100% }
.ProductList li em .YouSave { color: #D04AA3; font-size: 10px; font-style: normal; font-weight: bold; }
.ProductList li em b { color:#ed3006}
.ProductList li .Titulo a { color:#484747; text-decoration:none; font-weight:bold }
.ProductPriceRating { margin: 5px 0; }
.produto_indisponivel{ bottom: 0; color: #FF4748; font-weight: bold; margin: 15px auto; position: absolute; width: 200px; }
.ProductList .parcelamento_label_produto{ color: gray;	font-family: Tahoma;	font-size: 12px; }
.ProductList .parcelamento_label_produto destaque{	color: #D04AA3;	font-family: Tahoma;	font-size: 12px; font-weight: bold; }
.PrimaryProductDetails .YouSave { font-weight: bold; margin-top: 3px; display: block; }
.top_imagem_produto_div{ width: 177px; height: 18px; background: url(../images/top_imagem_produto.png) no-repeat; }
.middle_imagem_produto_div{ width: 169px; height: auto;	position: relative; text-align: center; padding: 4px; background: url(../images/middle_imagem_produto.png) repeat-y; }
.bottom_imagem_produto_div{	width: 177px; height: 40px;	background: url(../images/bottom_imagem_produto.png) no-repeat; }
.ProductList .middle_imagem_produto_div .ProductDetails{ margin-bottom: 5px; }
#SideCartContents .ProductList li { min-height: 0px; }

#HomeFeaturedProducts .ProductList .middle_imagem_produto_div,
#HomeNewProducts .ProductList .middle_imagem_produto_div,
#CategoryContent .ProductList .middle_imagem_produto_div,
#BrandContent .ProductList .middle_imagem_produto_div,
#AccountRecentItems .ProductList .middle_imagem_produto_div,
#SuggestiveCartContent .ProductList .middle_imagem_produto_div,
#SimilarProductsByCustomerViews .ProductList .middle_imagem_produto_div
{
	min-height: 295px;
}

#HomeFeaturedProducts .ProductList .ProductActionAdd,
#HomeNewProducts .ProductList .ProductActionAdd,
#CategoryContent .ProductList .ProductActionAdd,
#BrandContent .ProductList .ProductActionAdd,
#AccountRecentItems .ProductList .ProductActionAdd,
#SuggestiveCartContent .ProductList .ProductActionAdd,
#SimilarProductsByCustomerViews .ProductList .ProductActionAdd
{
	left: 35px;
	bottom: -25px;
    display: block;
	z-index: 1;
    position: absolute;
}

#HomeFeaturedProducts .ProductList .ProductImage,
#HomeNewProducts .ProductList .ProductImage,
#CategoryContent .ProductList .ProductImage,
#BrandContent .ProductList .ProductImage,
#AccountRecentItems .ProductList .ProductImage,
#SuggestiveCartContent .ProductList .ProductImage,
#SimilarProductsByCustomerViews .ProductList .ProductImage,
.sliderCarouselMaisVendidos .ProductList .ProductImage,
.sliderCarouselProdutosRelacionados .ProductList .ProductImage
{
	width: 175px !important;
}

/******* PREï¿½O - TELA DE PRODUTO *******/
#ProductDetails .ProductPrice .price_current label { display: none; }
#ProductDetails .ProductPrice .price_current { color: #993366; float: left; font-family: Tahoma; font-size: 18px; font-weight: bold; width: 100%; margin-top: -5px; }
#ProductDetails .ProductDetailsGrid div { margin-bottom: 3px; }
#ProductDetails .RetailPrice strike { color: #B2B2B2; float: left; font-family: Tahoma; font-size: 14px; font-weight: bold; width: 100%; margin-top: -2px; }

/******* DEGRADE NOS PRODUTOS - HOME *******/
#HomeFeaturedProducts .ProductList .ProductImage,
#HomeFeaturedProducts .ProductList .ProductDetails,
#HomeFeaturedProducts .ProductList .ProductCompareButton,
#HomeFeaturedProducts .ProductList .ProductPriceRating,
#HomeFeaturedProducts .ProductList .parcelamentoProdutoDiv,
#HomeNewProducts .ProductList .ProductImage,
#HomeNewProducts .ProductList .ProductDetails,
#HomeNewProducts .ProductList .ProductCompareButton,
#HomeNewProducts .ProductList .ProductPriceRating,
#HomeNewProducts .ProductList .parcelamentoProdutoDiv,
#CategoryContent .ProductList .ProductImage,
#CategoryContent .ProductList .ProductCompareButton, 
#CategoryContent .ProductList .ProductPriceRating, 
#CategoryContent .ProductList .ProductDetails,
#CategoryContent .ProductList .parcelamentoProdutoDiv,
#BrandContent .ProductList .ProductImage,
#BrandContent .ProductList .ProductDetails,
#BrandContent .ProductList .ProductCompareButton,
#BrandContent .ProductList .ProductPriceRating,
#BrandContent .ProductList .parcelamentoProdutoDiv,
#AccountRecentItems .ProductList .ProductImage,
#AccountRecentItems .ProductList .ProductDetails,
#AccountRecentItems .ProductList .ProductCompareButton,
#AccountRecentItems .ProductList .ProductPriceRating,
#AccountRecentItems .ProductList .parcelamentoProdutoDiv,
#SuggestiveCartContent .ProductList .ProductImage,
#SuggestiveCartContent .ProductList .ProductDetails,
#SuggestiveCartContent .ProductList .ProductCompareButton,
#SuggestiveCartContent .ProductList .ProductPriceRating,
#SuggestiveCartContent .ProductList .parcelamentoProdutoDiv,
#SimilarProductsByCustomerViews .ProductList .ProductImage,
#SimilarProductsByCustomerViews .ProductList .ProductDetails,
#SimilarProductsByCustomerViews .ProductList .ProductCompareButton,
#SimilarProductsByCustomerViews .ProductList .ProductPriceRating,
#SimilarProductsByCustomerViews .ProductList .parcelamentoProdutoDiv
{
	z-index: 1; 
	position: relative;
}

.fundoDegradeProduct{
	bottom: -40px; clear: right; height: 220px; left: 2px; position: absolute; width: 173px; z-index: 0; display: none; border-radius: 8px; opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#fcc8ea)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#fcc8ea);
	background: -moz-linear-gradient(top, #FFFFFF, #fcc8ea) repeat-X;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#fcc8ea)) repeat-X;
}
#HomeFeaturedProducts .ProductList li:hover .fundoDegradeProduct { display: block; }
#HomeNewProducts .ProductList li:hover .fundoDegradeProduct { display: block; }
#CategoryContent .ProductList li:hover .fundoDegradeProduct { display: block; }
#BrandContent .ProductList li:hover .fundoDegradeProduct { display: block; }
#AccountRecentItems .ProductList li:hover .fundoDegradeProduct { display: block; }
#SuggestiveCartContent .ProductList li:hover .fundoDegradeProduct { display: block; }
#SimilarProductsByCustomerViews .ProductList li:hover .fundoDegradeProduct { display: block; }

/******* PÁGINA DO PRODUTO *******/
#informacoesProdutoTD2 .YouSave{ color: #FF4748; display: inline; font-size: 12px; left: 5px; position: relative; top: 10px; }
#informacoesProdutoTD2 .price_old { float: left; color: #B2B2B2; font-family: Tahoma; font-size: 18px; font-weight: normal; width: 100%;}
#informacoesProdutoTD2 .price_old label { color: #B2B2B2; font-size: 13px; position: relative; top: 5px;}
#informacoesProdutoTD2 .price_current { color: #D04AA3; float: left; font-family: Tahoma; font-size: 22px; font-weight: bold; width: auto;}
#informacoesProdutoTD2 .price_current label { color: #D04AA3; font-size: 15px; position: relative; top: 6px;}

/******* CADASTRO DO CLIENTE *******/
#NewShippingAddress .FormContainer dd,
#EditAccountForm .FormContainer dd,
#AddressEditForm .FormContainer dd,
#CreateAccountForm .FormContainer dd,
#NewBillingAddress .FormContainer dd { margin-left: 140px !important; }

#EditAccountForm .FormContainer dl dd .LittleNotePassword { margin-left: 20px; }

#EditAccountForm .FormContainer p.Submit { margin: 10px 266px; }
#AddressEditForm .FormContainer p.Submit { margin: 10px 300px; }
#CreateAccountForm .FormContainer p.Submit { margin-left: 280px; margin-top: 0px; }

#NewShippingAddress .FormContainer dl dt,
#EditAccountForm .FormContainer dl dt,
#AddressEditForm .FormContainer dl dt,
#CreateAccountForm .FormContainer dl dt,
#NewBillingAddress .FormContainer dl dt { margin-top: 12px; }

#NewShippingAddress .FormContainer dl dd,
#EditAccountForm .FormContainer dl dd,
#AddressEditForm .FormContainer dl dd,
#CreateAccountForm .FormContainer dl dd,
#NewBillingAddress .FormContainer dl dd { margin-top: 3px; }

#NewShippingAddress .FormContainer dl dt,
#EditAccountForm .FormContainer dl dt,
#EditAccountForm .FormContainer dl dt span,
#AddressEditForm .FormContainer dl dt span,
#CreateAccountForm .FormContainer dl dt span,
#NewBillingAddress .FormContainer dl dt span { font-weight: bold; }

#NewShippingAddress .FormContainer dl dd input.FormField,
#EditAccountForm .FormContainer dl dd input.FormField,
#EditAccountForm .FormContainer dl dd input.Textbox,
#AddressEditForm .FormContainer dl dd input.FormField,
#CreateAccountForm .FormContainer dl dd input.FormField,
#NewBillingAddress .FormContainer dl dd input.FormField {
	border-radius: 4px; font-family: Tahoma; font-size: 13px; height: 17px; padding: 2px 3px; margin-top: 2px;
}

#NewShippingAddress .FormContainer dl dd select,
#EditAccountForm .FormContainer dl dd select,
#AddressEditForm .FormContainer dl dd select,
#CreateAccountForm .FormContainer dl dd select,
#NewBillingAddress .FormContainer dl dd select {
	border-radius: 4px; font-family: Tahoma; font-size: 13px; height: 28px; padding: 2px 3px; margin-top: 2px;
}

#NewShippingAddress .FormContainer dl dd input:focus,
#EditAccountForm .FormContainer dl dd input:focus,
#AddressEditForm .FormContainer dl dd input:focus,
#CreateAccountForm .FormContainer dl dd input:focus,
#NewBillingAddress .FormContainer dl dd input:focus {
	background-color: #DCF0F5;
}

#NewShippingAddress .FormContainer dl dd select:focus,
#EditAccountForm .FormContainer dl dd select:focus,
#AddressEditForm .FormContainer dl dd select:focus,
#CreateAccountForm .FormContainer dl dd select:focus,
#NewBillingAddress .FormContainer dl dd select:focus {
	background-color: #DCF0F5;
}

.displayNone  { display: none; }
.displayBlock { display: block; }
.width600 { width: 600px !important; }
.ProductCompareButton input, label { cursor: pointer; }

.clearLeft{
	clear: left;
}

.floatLeft{
	float: left;
}

.height25{
	height: 25px !important;
}

.height28{
	height: 28px !important;
}

.marginTop30{
	margin-top: 30px;
}

.marginBottom20{
	margin-bottom: 20px !important;
}

#CartContent { margin-bottom: 25px; float: left; }

.AccountOrderStatusList { margin-left: 20px !important; }
.cieloPaymentLeftDiv  { width: 340px; float: left; }
.cieloPaymentRightDiv { float: left; width: 10px; margin-top: -90px; }

.AccountOrderStatusList li { clear: left; }
#OrderConfirmationForm li  { list-style: none; }

#ShippingAddressTable { background-color: #f9f9f9; border-radius: 10px; padding: 5px 15px; width: 520px; -moz-box-shadow: 4px 4px 7px -5px #000000; -webkit-box-shadow: 4px 4px 7px -5px #000000; box-shadow: 4px 4px 7px -5px #000000; clear: left; }
#ShippingAddressTable td { padding: 5px 0; }
#ShippingAddressTable td.label { width: 150px; font-weight: bold; }
#ShippingAddressTable td.value { width: 370px; }

.tituloContaDeposito {
	clear: left;
    color: #666666;
    font-size: 21px;
    font-weight: bold;
    margin: 30px 0 0;
    text-decoration: underline;
}

.dadosDeposito {
	clear: left;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    margin: 15px 20px 0;
}

.avisemeQuandoChegar{
	bottom: -25px; 
	left: 45px; 
	position: absolute; 
	z-index: 1;
}

.avisemeQuandoChegarTelaProduto{
	margin: 15px 0 20px;
}

/* INDIQUE UM PRODUTO */
#indiqueEsteProduto tr td { font-size: 12px; }
#indiqueEsteProduto input{ height: 22px; padding: 0 4px 1px; }
#indiqueEsteProduto textarea{ border-radius: 5px; padding: 3px 4px 1px; }
#indiqueEsteProduto input:focus { background-color: #E9EEF3; }
#indiqueEsteProduto textarea:focus { background-color: #E9EEF3; }
#indiqueEsteProduto input, textarea{ border: 1px solid #C0C0E0; border-radius: 5px 5px 5px 5px; font-size: 13px; width: 250px; float: left; }
#indiqueEsteProduto .nome_produto { font-size:18px;padding:15px 0 15px 0; border-bottom:1px solid silver }
#indiqueEsteProduto .linha { BORDER-BOTTOM:1px solid silver;PADDING-TOP:5px;PADDING-BOTTOM:5PX;PADDING-LEFT:5px;PADDING-RIGHT:5px; }
#retornoDivIndiqueEsteProduto { float: left; height: 18px; margin-left: 190px; margin-right: 3px; padding-top: 7px; width: 208px; }
.idiqueProdutoEnvioOK { width: 18px; height: 26px; background: url(../images/idiqueProdutoEnvioOK.png) no-repeat; margin: -13px 9px; float: left; }
.botaoIndiqueEsteProduto { border:1px solid silver; color:#000; font-size:11px; padding:5px; font-family:tahoma; background:#F3F6FF; border-radius: 3px; font-weight: bold; cursor: pointer; }

/* FORMAS DE PAGAMENTO NA TELA DE PRODUTO */
#metodoPagamentoSelecionado { float: left; font-weight: bold; margin: 1px 10px; color: #D04AA3; }
.wrapperFormasPagamento { float: left; margin: 0px 10px; min-width: 400px; }
.formasPagamentoProduto { clear: left; -moz-box-shadow: 2px 2px 5px -1px #A1A1A1; -webkit-box-shadow: 2px 2px 5px -1px #A1A1A1; box-shadow: 2px 2px 5px -1px #A1A1A1; }
.bandeiraSelecionada { -moz-box-shadow: 2px -3px 5px -3px #A1A1A1; -webkit-box-shadow: 2px -3px 5px -3px #A1A1A1; box-shadow: 2px -3px 5px -3px #A1A1A1;  background-color: #F1F1F1; }
.parcelaSelecionada { background-color: #f9f9f9; }
#bandeirasFormasPagamento, #parcelasFormasPagamento { clear: left; }
#bandeirasFormasPagamento{ margin: 0px; }
#bandeirasFormasPagamento li { float: left; list-style: none; padding: 0 5px; margin: 0; min-width: 40px; max-width: 70px; min-height: 30px; text-align: center; }
#bandeirasFormasPagamento li img { cursor: pointer; height: 25px; }
#parcelasFormasPagamento .ConteudoFormaPagamento { display: none; padding: 10px; color: #D04AA3; }


/* CAROUSEL - ATRIBUTOS GENÉRICOS */
.sliderCarousel .viewport ul { position: relative; }
.sliderCarousel { /*height: 1%;*/ overflow:hidden; padding: 0 0 10px; float: left; clear: left;  }
.sliderCarousel .buttons { background:url("../images/carousel-buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 50px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
.sliderCarousel .buttons:hover { background-image:url("../images/carousel-buttons-hover.png"); }
.sliderCarousel .disable { visibility: hidden; }

/* CAROUSEL - SLIDER MARCAS */
.sliderCarouselMarcas .viewport { float: left; width: 550px; height: 110px; overflow: hidden; position: relative; border-radius: 10px; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#F1F1F1); background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1) repeat-X; background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1)) repeat-X; }
.sliderCarouselMarcas .prev { position: absolute; margin: 35px -15px; z-index: 10; }
.sliderCarouselMarcas .next { position: absolute; margin: 35px 530px; background-position: 0 0;  }
.sliderCarouselMarcas ul.sliderMarcas{ float: left; margin: 0; position: relative; padding: 5px 0; }
.sliderCarouselMarcas ul.sliderMarcas li{ float: left; list-style: none; margin: 0 4px; text-align: center; width: 100px; border-radius: 10px; }
.sliderCarouselMarcas ul.sliderMarcas li:hover{ border: 1px solid silver; margin: -1px 3px;	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#e1e1e1)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#e1e1e1); background: -moz-linear-gradient(top, #FFFFFF, #e1e1e1) repeat-X;	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#e1e1e1)) repeat-X; }
.sliderCarouselMarcas ul.sliderMarcas li .imageMarcaDiv{ height: 63px; position: relative; }
.sliderCarouselMarcas ul.sliderMarcas li .imageMarcaDiv img{ position: relative; width: 70px; min-height: 30px; max-height: 60px; }

/* CAROUSEL - SLIDER PRODUTOS RELACIONADOS */
.sliderCarouselProdutosRelacionados .ProductList  li { height: auto !important; }
.sliderCarouselProdutosRelacionados .viewport { float: left; width: 560px; height: auto; overflow: hidden; position: relative; border-radius: 10px; }
.sliderCarouselProdutosRelacionados .prev 	  { position: absolute; margin: 80px -15px; z-index: 10; }
.sliderCarouselProdutosRelacionados .next 	  { position: absolute; margin: 80px 530px; background-position: 0 0;  }

/* CAROUSEL - SLIDER PRODUTOS RELACIONADOS */
.sliderCarouselMaisVendidos .ProductList  li { height: auto !important; }
.sliderCarouselMaisVendidos .ProductList .ProductActionAdd{	left: 0px !important; position: relative !important; }
.sliderCarouselMaisVendidos .viewport { float: left; width: 560px; height: auto; overflow: hidden; position: relative; border-radius: 10px; }
.sliderCarouselMaisVendidos .prev 	  { position: absolute; margin: 80px -15px; z-index: 10; }
.sliderCarouselMaisVendidos .next 	  { position: absolute; margin: 80px 530px; background-position: 0 0;  }
