<ul id="newsslider">
	<li>
		<div class="bannerHomeWidth bannerHomeSlider6"></div>
	</li>
	<li>
		<a href="%%GLOBAL_ShopPath%%/login.php?action=create_account"><div class="bannerHomeWidth bannerHomeSlider4"></div></a>
	</li>
	<li>
		<div class="bannerHomeWidth bannerHomeSlider5"></div>
	</li>
	<li>
		<div class="bannerHomeWidth bannerHomeSlider1"></div>
	</li>
	<li>
		<div class="bannerHomeWidth bannerHomeSlider3"></div>
	</li>
</ul>

<script>
	var $ = jQuery.noConflict();
	
	$(document).ready( function(){
		$('#newsslider').anythingSlider({
			enableArrows : true,
			autoPlay : true,
			autoPlayLocked : true,
			pauseOnHover : true,
			height: 380
		});
	});
</script>